body {
  margin: 0;
  padding: 0;
}

.header {
  padding: 5px;
  margin: 10px;
  background-color: #F1FAEE;
}

.nav ul {
    list-style-type: none;
}

.nav li {
    padding-right: 15px;
    display: inline
}

.content {
  background-color: #1D3557;
  color: #eeeeee;
  padding: 15px;
}

p {
  margin: 0 15px;
}

/* possibly color scheme  coral-E63946 honeydew-F1FAEE
queen blue-457B9D space cadet -1D3557 light blue- A8DADC */
